<!DOCTYPE html>
<html>


    <head>
    <title>Sahulatservices</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Welcome to Sahulat Services</title>
        
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link id="favicon" href="photos/images/favicon.png" rel="shortcut icon" type="image/png">
<!--<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>-->


    </head>
    <body id="react-container" style="height:100%;">
        <header>
            <nav class="navbar navbar-expand-lg navbar-light  justify-content-between">
                <div class="container">
                    <a class="navbar-brand logo" href="/"><img src="photos/images/sahulat-logo.jpg"/></a>
                    <button class="navbar-toggler pull-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav ml-auto">
                            <a class="nav-item nav-link style_hover  " href="/">Home <span class="sr-only">(current)</span></a>
                            <a class="nav-item nav-link style_hover " href="/about">About</a>
                            <a class="nav-item nav-link style_hover " href="/booking">Booking</a>
                            <a class="nav-item nav-link style_hover " href="#">Services</a>
                            <a class="nav-item nav-link style_hover " href="#">Contact</a>  
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <style>
            .form-group .required .control-label:after {
                content:"*";color:red;
            }
        </style>
        <!-- quantity modal for booking -->
        <style>
            .jobdesc ul{
                list-style:square!important;
            }
            .table-borderless thead th,  .table-borderless tbody td, .table-borderless tbody th{
                border-bottom:0px!important;
                border-top:0px!important;
            }
            .number-input.number-input button:focus{
                outline:0px!important;
                outline:none!important;
            }
            .number-input input[type="number"] {
                -webkit-appearance: textfield;
                -moz-appearance: textfield;
                appearance: textfield;
            }

            .number-input input[type=number]::-webkit-inner-spin-button,
            .number-input input[type=number]::-webkit-outer-spin-button {
                -webkit-appearance: none;
            }

            .number-input {
                margin-bottom: 1rem;
                float:right!important;
            }

            .number-input button {
                -webkit-appearance: none;
                background-color: transparent;
                border: none;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                margin: 0;
                position: relative;
            }

            .number-input button:before,
            .number-input button:after {
                display: inline-block;
                position: absolute;
                content: '';
                height: 2px;
                transform: translate(-50%, -50%);
            }

            .number-input button.plus:after {
                transform: translate(-50%, -50%) rotate(90deg);
            }

            .number-input input[type=number] {
                text-align: center;
            }

            .number-input.number-input {
                border: 1px solid #ced4da;
                width: 10rem;
                border-radius: .25rem;
            }

            .number-input.number-input button {
                width: 2.6rem;
                height: .7rem;
            }

            .number-input.number-input button.minus {
                padding-left: 10px;
            }

            .number-input.number-input button:before,
            .number-input.number-input button:after {
                width: .7rem;
                background-color: #495057;
            }

            .number-input.number-input input[type=number] {
                max-width: 4rem;
                padding: .5rem;
                border: 1px solid #ced4da;
                border-width: 0 1px;
                font-size: 1rem;
                height: 2rem;
                color: #495057;
            }

            @media not all and (min-resolution:.001dpcm) {
                @supports(-webkit-appearance: none) and (stroke-color:transparent) {

                    .number-input.def-number-input.safari_only button:before,
                        .number-input.def-number-input.safari_only button:after {
                        margin-top: -.3rem;
                    }
                }
            }


            .donate-now {
                list-style-type:none;
                margin:25px 0 0 0;
                padding:0;
            }

            .donate-now .donate-now-start {
                margin:0 5px 0 0;
                width:100px;
                height:68px;
                position:relative;
            }

            .donate-now label, .donate-now input {
                display:block;
                position:absolute;
                top:0;
                left:0;
                right:0;
                bottom:0;
            }

            .donate-now input[type="radio"] {
                opacity:0.011;
                z-index:100;
            }

            .donate-now input[type="radio"]:checked + label {
                background:#fff;
                border:2px solid #666;
                color:#000;
            }


            .donate-now label {
                padding:5px;
                border:1px solid #ddd;
                color:#aaa;
                cursor:pointer;
                border-radius:4px;
                z-index:90;
            }

            .donate-now label:hover {
                background:#eee;
            }
            .donate-now label .p-one{
                font-size:12px;
                font-weight:400;
                letter-spacing:1px;
            }
            .donate-now label .p-two{
                font-size:22px;
                letter-spacing:1px;
            }








            .donate-now-two {
                list-style-type:none;
                margin:25px 0 0 0;
                padding:0;
            }

            .donate-now-two .donate-now-start-two {
                margin:0 5px 0 0;
                width:100px;
                height:48px;
                position:relative;
            }

            .donate-now-two label, .donate-now-two input {
                display:block;
                position:absolute;
                top:0;
                left:0;
                right:0;
                bottom:0;
            }

            .donate-now-two input[type="radio"] {
                opacity:0.011;
                z-index:100;
            }

            .donate-now-two input[type="radio"]:checked + label {
                background:#fff;
                border:2px solid #666;
                color:#000;
            }

            .grecaptcha-badge { 
                visibility: hidden;
            }
            .donate-now-two label {
                padding:5px;
                padding-top:6px;
                border:1px solid #ddd;
                color:#aaa;
                cursor:pointer;
                border-radius:4px;
                z-index:90;
            }

            .donate-now-two label:hover {
                background:#eee;
            }
            .donate-now-two label .p-one{
                font-size:16px;
                font-weight:400;
                letter-spacing:1px;
            }
            .donate-now-start-two label p{
                font-size:12px!important;

            }
        </style>
<style>
    /** SPINNER CREATION **/
    .pac-container { z-index: 100000!important; }
    .loader {
        position: relative;
        text-align: center;
        margin: 50px auto 35px auto;
        z-index: 9999;
        width: 60px;
        height: 60px;
        border: 10px solid rgba(0, 0, 0, .3);
        border-radius: 50%;
        border-top-color: #000;
        animation: spin 1s ease-in-out infinite;
        -webkit-animation: spin 1s ease-in-out infinite;
    }

    @keyframes spin {
        to {
            -webkit-transform: rotate(360deg);
        }
    }

    @-webkit-keyframes spin {
        to {
            -webkit-transform: rotate(360deg);
        }
    }
    /* radio buttons css*/

    /** MODAL STYLING **/
    .modal-backdrop.show {
        opacity: 0.75;
    }


    .checked {
        color: orange;
    }
</style>

<style type="text/css">
    /*16aug19     07April
    .main_heading{
      font-size: 47px;
      color: #fff;
      margin:0;
      font-weight: 700;
      position: relative;
      font-family: 'Merriweather Sans', sans-serif!important;
      text-shadow: 0 1px 8px rgba(0,0,0,.2);
    }
    .main_heading_two{
      font-weight: 500;
      font-family: 'Merriweather Sans', sans-serif!important;
      color: #fff;
      margin-top: 8px;
      margin-bottom: 30px;
      position: relative;
      text-shadow: 0 1px 8px rgba(0,0,0,.4);
      font-size: 21px;
    }
  @media (max-width: 991px){
    .main_heading{font-size:36px;}
     .main_heading_two{font-size: 18px;}
    }
  @media (max-width: 767px){
    .main_heading{font-size:28px;}
     .main_heading_two{font-size: 14px;}
    }
  @media (max-width: 576px) and (min-width:0px){
    .main_heading{font-size:24px;}
     .main_heading_two{font-size: 12px;}
    }
    .mytable_search_results_table #autoCompleteSuggest{
      width:360px!important;
      height:120px;
      overflow:auto;
      z-index: 4;
    }
    .mytable_search_results_table{
        max-width:80%;
    }
    @media (max-width: 500px){
    .mytable_search_results_table #autoCompleteSuggest{
      width:auto!important;
    }
    .mytable_search_results_table{
        max-width:80%;
    }
    }
  16aug2019 style starts*/



    .heading_service{
        font-size: 47px;
        color: #fff;
        margin:0;
        font-weight: 700;
        position: relative;
        font-family: 'Merriweather Sans', sans-serif!important;
        text-shadow: 0 1px 8px rgba(0,0,0,.2);
    }
    .clearfix, .clearfix:after, .clearfix:before{
        content: " ";
        display: table;
    }


    ._3fmpyDZmwgiERVmBiqJI2y {
        background-color: #fff;
        text-align: center;
        padding-top: 46px;
        padding-bottom: 95px;
        height: 380px;
        position: relative;
        font-family: 'Merriweather Sans', sans-serif!important;
    }
    .FyqvUAlHomQxHcI9jcV7G {
        padding-top: 0;
        height: 100%;
        font-family: 'Merriweather Sans', sans-serif!important;
    }
    @media screen and (min-width: 768px){
        ._5i54RgeUqKBg-1WgZgW2Q {
            background-position: 50%;
            background-size: cover;
            background-repeat: no-repeat;
        }
        ._3fmpyDZmwgiERVmBiqJI2y ._1d-keXx9N4mVCe6EIDEXyq {
            width: auto!important;
            margin: 0 auto!important;
            z-index: 4!important;
            position: relative;
        }
        ._3fmpyDZmwgiERVmBiqJI2y ._3I1Elaoo7Dal5gYj0z5J8u {
            float: left;
            border-radius: 4px;
            width: 170px;
            height: 54px;
            margin-top: 0;
            background-color: #fff;
            border: 1px solid #dedede;
            box-shadow: 0 1px 3px 0 #dedede;
            box-shadow: none;
            border: none;
        }
        ._3fmpyDZmwgiERVmBiqJI2y ._3I1Elaoo7Dal5gYj0z5J8u ._2fUFYWAA7dnCEH9-BUvrfq span {
            top: 16px;
        }

    }
    @media screen and (max-width: 768px){
        ._3fmpyDZmwgiERVmBiqJI2y {
            padding-bottom: 0;
            min-height: 253px;
            height: auto;
            padding: 24px;
            padding-top: 22px;
        }
        ._3fmpyDZmwgiERVmBiqJI2y .SwKXaiUF5sVFf7o3TkHrI {
            font-size: 28px!important;
            text-shadow: none !important;
            font-weight: 700!important;
            font-family: 'Merriweather Sans', sans-serif!important;
            margin-top: 0 !important;
            color:#fff!important;
        }
        ._3fmpyDZmwgiERVmBiqJI2y ._1sXeg7Um0JOssDxy41fhAy {
            text-shadow: none !important;
            font-size: 14px!important;
            margin-bottom: 0!important;
            margin-top: 8px!important;
            font-weight: 100!important;
        }
        ._3fmpyDZmwgiERVmBiqJI2y ._3I1Elaoo7Dal5gYj0z5J8u {
            box-shadow: none;
            border: none;
            width:170px;
            height:44px!important;
        }
        ._3fmpyDZmwgiERVmBiqJI2y ._3I1Elaoo7Dal5gYj0z5J8u ._2fUFYWAA7dnCEH9-BUvrfq span {
            top: 13px!important;
            left:15px!important;
        }
        ._3fmpyDZmwgiERVmBiqJI2y ._3I1Elaoo7Dal5gYj0z5J8u ._37R_iCtaJwPiOqFR1umRkV span {
            top:9px!important;
            right:16px!important;
        }
        ._3fmpyDZmwgiERVmBiqJI2y ._1Vw-BPTWNLKPGECJMs2mu8 ._12flgAAstjcdXCsD_K1PvI{
            height:48px!important;
        }
        ._3fmpyDZmwgiERVmBiqJI2y ._3I1Elaoo7Dal5gYj0z5J8u .yYlfMhkjKjrQ0BerOkMTa {

        }
        ._2hAL38KLzOgmEOriSGY3QT{
            margin-bottom:0px!important;
        }
        #autoCompleteSuggest{
            margin-right: 1px;
            margin-left: -1px;

        }


    }
    @media screen and (max-width: 768px) and (min-width:768px){
        ._3fmpyDZmwgiERVmBiqJI2y ._3I1Elaoo7Dal5gYj0z5J8u {
            margin-top:38px!important;
        }
        ._3fmpyDZmwgiERVmBiqJI2y ._1Vw-BPTWNLKPGECJMs2mu8{
            margin-top:38px!important;
        }
        ._2hAL38KLzOgmEOriSGY3QT _1Iq3UDJdQ_staPs1NObXPt _3jCvI3pQUt9W9G6UZOs2lw {
            margin-bottom:0px;
        }
        #autoCompleteSuggest{
            margin-right: 1px;
            margin-left: -1px;

        }
    }
    ._3fmpyDZmwgiERVmBiqJI2y .IbonW3zjhUZdcioNFh-3h {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 2;
        height: 100%;
        background-color: rgba(77,77,77,.5);
    }
    ._3fmpyDZmwgiERVmBiqJI2y .SwKXaiUF5sVFf7o3TkHrI {
        font-size: 47px;
        color: #fff;
        margin: 0;
        font-weight: 700;
        z-index: 4;
        position: relative;
        font-family: 'Merriweather Sans', sans-serif!important;
        text-shadow: 0 1px 8px rgba(0,0,0,.2);
    }
    ._3fmpyDZmwgiERVmBiqJI2y ._1sXeg7Um0JOssDxy41fhAy {
        font-weight: 500;
        color: #fff;
        margin-top: 15px;
        margin-bottom: 60px;
        z-index: 4;
        position: relative;
        text-shadow: 0 1px 8px rgba(0,0,0,.4);
        font-size: 21px;
    }
    ._3fmpyDZmwgiERVmBiqJI2y ._1d-keXx9N4mVCe6EIDEXyq {
        width: 100%;
        margin: 0 auto;
        z-index: 4;
        position: relative;
    }
    ._3fmpyDZmwgiERVmBiqJI2y ._3I1Elaoo7Dal5gYj0z5J8u {
        margin-top: 24px;
        margin-bottom: 10px;
        position: relative;
        box-shadow: none;
        border: none;
    }
    ._3fmpyDZmwgiERVmBiqJI2y ._3I1Elaoo7Dal5gYj0z5J8u:hover {
        border-color: #646464;
        box-shadow: none;
    }

    ._3fmpyDZmwgiERVmBiqJI2y ._3I1Elaoo7Dal5gYj0z5J8u .yYlfMhkjKjrQ0BerOkMTa {
        border-radius: 4px;
        color: #646464;
        font-size: 15px;
        height: 100%;
    }
    ._3fmpyDZmwgiERVmBiqJI2y ._3I1Elaoo7Dal5gYj0z5J8u .yYlfMhkjKjrQ0BerOkMTa:hover {
        color: #242424;
    }
    ._2ykZVaMUWqV5_bRuNpJj5p {
        position: relative;
        height: 100%;
    }
    ._2ykZVaMUWqV5_bRuNpJj5p ._25bTNxnaCgmCkB4EMGBxla {
        height: 100%;
        width: 168px;
        border-radius: 4px;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    ._2ykZVaMUWqV5_bRuNpJj5p ._25bTNxnaCgmCkB4EMGBxla:hover {
        cursor: pointer;
        color: #242424;
    }
    ._3fmpyDZmwgiERVmBiqJI2y ._3I1Elaoo7Dal5gYj0z5J8u ._2fUFYWAA7dnCEH9-BUvrfq span {
        position: absolute;
        top: 16px;
        pointer-events: none;
        left: 10px;
        z-index: 4;
        font-size: 22px;
        color: #757575;
    }
    ._2ykZVaMUWqV5_bRuNpJj5p ._25bTNxnaCgmCkB4EMGBxla:hover .fa-location-arrow{
        color:#242424!important;
    }
    ._3fmpyDZmwgiERVmBiqJI2y ._3I1Elaoo7Dal5gYj0z5J8u ._2qh4NEDZ9KjZW98gxOQxGC {
        width: 70%;
        letter-spacing:1.5px;
        font-family: 'Merriweather Sans', sans-serif!important;
        font-weight:500;
    }
    ._3fmpyDZmwgiERVmBiqJI2y ._3I1Elaoo7Dal5gYj0z5J8u ._37R_iCtaJwPiOqFR1umRkV span {
        position: absolute;
        top: 15px;
        pointer-events: none;
        right: 10px;
        font-size: 10px;
        z-index: 4;
        font-size: 26px;
    }
    /******************************RIGHT SEARCH**********************************/
    @media screen and (min-width: 768px){
        ._3fmpyDZmwgiERVmBiqJI2y ._1Vw-BPTWNLKPGECJMs2mu8 {
            float: left;
            width: 410px;
            height: auto;
            margin-left: 20px;
        }
        ._3fmpyDZmwgiERVmBiqJI2y ._1Vw-BPTWNLKPGECJMs2mu8 ._3vV_AN6orIKTUzsacDDaFZ {
            display: none;
        }
        ._3fmpyDZmwgiERVmBiqJI2y ._1Vw-BPTWNLKPGECJMs2mu8 ._12flgAAstjcdXCsD_K1PvI {
            box-shadow: none;
            border: 0;
        }

    }
    @media (max-width:768px){

        ._3fmpyDZmwgiERVmBiqJI2y ._1Vw-BPTWNLKPGECJMs2mu8 input{
            padding-left:36px!important;
        }
        ._3fmpyDZmwgiERVmBiqJI2y ._1Vw-BPTWNLKPGECJMs2mu8 ._3jCvI3pQUt9W9G6UZOs2lw {
            font-size: 16px;
        }
    }
    @media screen and (max-width: 768px){
        ._3fmpyDZmwgiERVmBiqJI2y ._1Vw-BPTWNLKPGECJMs2mu8 ._12flgAAstjcdXCsD_K1PvI {
            height: 48px;
            box-shadow: none;
            border: none!important;

        }

        ._2hAL38KLzOgmEOriSGY3QT {
            width: 258px;
        }
        ._1Iq3UDJdQ_staPs1NObXPt {
            padding: 0 16px 0 0!important;
        }
        ._3fmpyDZmwgiERVmBiqJI2y ._1Vw-BPTWNLKPGECJMs2mu8 ._2HLbXPghWymhoRQwmL97pe {
            display: none!important;
        }
        ._3vV_AN6orIKTUzsacDDaFZ .search_icon{
            position: absolute;
            font-size:18px;
            z-index: 4;
            top: 55%;
            left: 12px;
            transform: translateY(-50%);
            color: #757575;
        }
    }
    ._3fmpyDZmwgiERVmBiqJI2y ._1Vw-BPTWNLKPGECJMs2mu8 {
        height: 48px;
        transition: all .2s ease-in;
        position: relative;
        margin-top: 24px;
        z-index:9;
    }


    ._3fmpyDZmwgiERVmBiqJI2y ._1Vw-BPTWNLKPGECJMs2mu8 ._12flgAAstjcdXCsD_K1PvI {
        width: 96%;
        float: none;
        height: 54px;
        border-radius: 4px;
        background-color: #fff;
        border: 1px solid #dedede;
        border-bottom:none;
    }
    ._1nWdgpvLgQlilehk2f13Ip {
        position: relative;
    }

    ._188u3GtaUtRL1HqZGj9sRJ {
        display: inline-block;
        float: left;
    }
    ._1nWdgpvLgQlilehk2f13Ip {
        position: relative;
    }
    ._3fmpyDZmwgiERVmBiqJI2y ._1Vw-BPTWNLKPGECJMs2mu8 ._3jCvI3pQUt9W9G6UZOs2lw {
        margin-top: 0;
        -webkit-appearance: none;
        font-size: 14px;
    }

    ._2hAL38KLzOgmEOriSGY3QT {
        height: 42px;
        width: 320px;
        border-radius: 2px;
        background-color: #fff;
        border: 1px solid #ddd;
        margin-bottom: 10px;
        position: relative;
    }
    ._1Iq3UDJdQ_staPs1NObXPt {
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        outline: 0;
        font-size: 12px;
        color: #000;
        margin-top: 5px;
        width: 100%!important;
        border: none!important;
        padding: 12px 16px 0 0!important;
        border-radius: 4px!important;
    }
    ._2hAL38KLzOgmEOriSGY3QT {
        height: 42px;
        width: 320px;
        border-radius: 2px;
        background-color: #fff;
        border: 1px solid #ddd;
        margin-bottom: 10px;
        position: relative;
    }
    ._3fmpyDZmwgiERVmBiqJI2y ._1Vw-BPTWNLKPGECJMs2mu8 input {
        outline: 0;
        font-size: 16px;
        padding-left: 14px;
        border-radius: 4px;
        height: 100%;
        box-sizing: border-box;
        width: 100%;
        border: none;
    }

    input[type=search] {
        -webkit-appearance: textfield;
        box-sizing: content-box;
    }
    ._2RyUw4qK3q5GZmpjwMkcje {
        font-size: 11px;
        color: #202020;
        border: 0;
        outline: 0;
        width: 240px;
        margin-left: 10px;
        transition: all .2s ease-in-out;
        z-index: 2;
    }
    ._2bZyIA0VQDQOHQMTAdiAr0 {
        margin: 0!important;
    }
    ._2RyUw4qK3q5GZmpjwMkcje {
        font-size: 11px;
        color: #202020;
        border: 0;
        outline: 0;
        width: 240px;
        margin-left: 10px;
        transition: all .2s ease-in-out;
        z-index: 2;
    }
    ._18OSX9Y4Kx8G-K3l-pLCgv {
        height: calc(100% - 68px);
    }
    ._3fmpyDZmwgiERVmBiqJI2y ._1Vw-BPTWNLKPGECJMs2mu8 ._2HLbXPghWymhoRQwmL97pe {
        margin: 0;
        text-align: left;
        margin-top: 10px;
        font-size: 13px;
        padding-left:5px;
        color: #fff;
        z-index: 4;
        position: absolute;
        top: 54px;
    }



    /*****************City dropdown******************/
    section ul{
        list-style: none;
    }
    ._2ykZVaMUWqV5_bRuNpJj5p ._1p1W1izIPf3HPQYgWKrXzi {
        position: absolute;
        top: calc(100% - 3px);
        width: 99%;
        left: 0;
        padding: 0;
        margin: 0;
        height: 204px;
        border-bottom: 1px solid #c4c4c4;
        border-top: 0;
        overflow-y: scroll;
        background-color: #fff;
        border-radius: 4px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        z-index:10;
    }
    ._2ykZVaMUWqV5_bRuNpJj5p ._1p1W1izIPf3HPQYgWKrXzi li {
        height: 44px;
        line-height: 44px;
        width: 100%;
        border: 1px solid #c4c4c4;
        border-bottom: none;
        background-color: #fff;
    }
    ._2ykZVaMUWqV5_bRuNpJj5p ._1p1W1izIPf3HPQYgWKrXzi li:hover {
        cursor: pointer;
        background-color: #222;
        color: #fff;
        border-color: #222;
    }
    /*******************second search drop down********************/

    ._1Fc9CHjP7ix9zvXgoHLhOy {
        position: absolute;
        top: 68px;
        z-index: 10;
        width: 300px;
        max-height: 218px;
        overflow-y: auto;
        left: 0;
    }

    ._2YFHV0d6INj_I_v5jSxdoI {

        border-right:none;
        border-top: none;
        margin: 0;
        list-style-type: none;
        padding: 0;
        top: 53px!important;
        width: 100%!important;
    }
    @media screen and (max-width: 768px){

        ._2YFHV0d6INj_I_v5jSxdoI {
            max-height: 87px!important;
            overflow-y: auto;
            overflow-x:hidden;

        }   
        ._1Y4fusHjLmbUO8qKerbIbn{
            margin-left:1px;        
        }
    }
    ._1Y4fusHjLmbUO8qKerbIbn:hover {
        background-color: #000;
        color: #fff;
        cursor: pointer;
    }
    ._1Y4fusHjLmbUO8qKerbIbn {
        border-top: 1px solid #c4c4c4;
        position: relative;
        height: 44px;
        font-size: 15px;
        color: #555;
        display: table;
        text-align: left;
        width: 100%;
        background-color: #fff;
    }
    ._1Fc9CHjP7ix9zvXgoHLhOy li ._1NibO0nZPVbXSu_eOFkSAk {
        display: table-cell;
        vertical-align: middle;
    }

    ._1Fc9CHjP7ix9zvXgoHLhOy li ._1NibO0nZPVbXSu_eOFkSAk {
        display: table-cell;
        vertical-align: middle;
    }
    ._1-ZuYSE5ugCHG5vD29RlOq {
        height: 44px;
        width: 100%;
        display: table;
    }
    ._1-ZuYSE5ugCHG5vD29RlOq .yYS2fiJ4WPXN7erEQu0nk {
        display: table-cell;
        vertical-align: middle;
    }
    ._1Y4fusHjLmbUO8qKerbIbn ._1wuf_RfgsK431M_TzQ1RQm {
        position: relative;
        top: -16px;
    }

    .HiAwldacoqPza4ANMTohE span {
        cursor: pointer;
    }

    ._1Y4fusHjLmbUO8qKerbIbn ._2t4u8Mdp2tKq7cJx0RjGL0:before {
        color: #030404;
        font-size: 20px;
        position: absolute;
        top: 14px;
        left: 18px;
    }

    .HiAwldacoqPza4ANMTohE span:before {
        color: #fff!important;
    }
    ._1Y4fusHjLmbUO8qKerbIbn ._1xt3ldzRB6tmh5GhIzLCNK {
        margin-left: 60px;
    }
    .donate-now {
        list-style-type:none;
        margin:25px 0 0 0;
        padding:0;
    }

    .donate-now .donate-now-start {
        margin:0 5px 0 0;
        width:100px;
        height:68px;
        position:relative;
    }

    .donate-now label, .donate-now input {
        display:block;
        position:absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
    }

    .donate-now input[type="radio"] {
        opacity:0.011;
        z-index:100;
    }

    .donate-now input[type="radio"]:checked + label {
        background:#fff;
        border:2px solid #666;
        color:#000;
    }


    .donate-now label {
        padding:5px;
        border:1px solid #ddd;
        color:#aaa;
        cursor:pointer;
        border-radius:4px;
        z-index:90;
    }

    .donate-now label:hover {
        background:#eee;
    }
    .donate-now label .p-one{
        font-size:12px;
        font-weight:400;
        letter-spacing:1px;
    }
    .donate-now label .p-two{
        font-size:22px;
        letter-spacing:1px;
    }








    .donate-now-two {
        list-style-type:none;
        margin:25px 0 0 0;
        padding:0;
    }

    .donate-now-two .donate-now-start-two {
        margin:0 5px 0 0;
        width:100px;
        height:48px;
        position:relative;
    }

    .donate-now-two label, .donate-now-two input {
        display:block;
        position:absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
    }

    .donate-now-two input[type="radio"] {
        opacity:0.011;
        z-index:100;
    }

    .donate-now-two input[type="radio"]:checked + label {
        background:#fff;
        border:2px solid #666;
        color:#000;
    }


    .donate-now-two label {
        padding:5px;
        padding-top:6px;
        border:1px solid #ddd;
        color:#aaa;
        cursor:pointer;
        border-radius:4px;
        z-index:90;
    }

    .donate-now-two label:hover {
        background:#eee;
    }
    .donate-now-two label .p-one{
        font-size:16px;
        font-weight:400;
        letter-spacing:1px;
    }
</style>
<script>
    function autoComplet()
    {
        alert(999);
    }
    $(document).ready(function () {
        $('div[onload]').trigger('onload');
    });
</script>


    <%= yield %>
  </body>
</html>
